/* Import of /utilities/_index.scss */
/* Import of _functions.scss */
/* Import of _variables.scss */
/* Import of _mixins.scss */
/* Import of _placeholders.scss */
/* Import of /base/_index.scss */
@import url(c:\Users\Nic\OneDrive\Web Development\Public GitHub Repositories\NicDominguez.github.io\scss\base\normalize.css);
/* Import of _base.scss */
@import url("https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  font-family: "Didact Gothic", sans-serif;
}

body {
  min-width: 320px;
  height: calc(100vh * 5 + 50px);
  overflow: hidden;
}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  display: block;
  scroll-snap-align: start;
  padding: calc(3% + 50px) 5% 5% 5%;
}

@media (min-width: 1200px) {
  section {
    padding-bottom: 10%;
  }
}

.landing {
  display: none;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
}

p {
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

/* Import of /componenents/_index.scss */
/* Import of _typography.scss */
header h1 {
  font-size: 1.5em;
  font-style: italic;
  text-shadow: 7px 7px 7px rgba(0, 0, 0, 0.55);
}

header .nav-links {
  text-shadow: 7px 7px 7px rgba(0, 0, 0, 0.55);
}

h4 {
  font-size: 2em;
  margin: 5px auto 10px auto;
}

.title {
  color: #17384B;
  font-size: 1.5em;
  text-align: center;
  margin-top: 50px;
}

.section-title {
  display: none;
}

@media (min-width: 1200px) {
  .section-title {
    display: block;
    position: relative;
    top: 100%;
    left: 60%;
    font-size: 7em;
    color: #17384B;
    z-index: 5;
    text-align: right;
    width: 450px;
    font-weight: 200;
  }
}

/* Import of _images.scss */
img {
  width: 100%;
  height: 100%;
  min-width: 50px;
  min-height: 50px;
}

/* Import of _navigation.scss */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  background-color: #17384B;
  width: 100%;
  height: 50px;
  z-index: 10;
  padding: 10px;
  color: #FDFFFB;
  overflow: hidden;
  -webkit-transition: height .3s ease-out;
  transition: height .3s ease-out;
}

header svg {
  fill: white;
}

@media (min-width: 1200px) {
  header svg {
    display: none;
  }
}

nav {
  display: none;
  width: 100%;
  margin-top: 3vh;
}

@media (min-width: 1200px) {
  nav {
    display: inline-block;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 0;
  }
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

nav ul li {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 1vh 10vw;
  text-indent: 10px;
  border-bottom: solid 2px #E48200;
  cursor: pointer;
  border-radius: 5px;
}

@media (min-width: 767px) {
  nav ul li {
    text-indent: 0;
    text-align: center;
    font-size: 1.5em;
    border-bottom: solid 3px #E48200;
  }
}

@media (min-width: 1200px) {
  nav ul li {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin: 0;
    border-bottom: none;
  }
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #FDFFFB;
  font-size: 1.4em;
  width: 100%;
  padding: 0 1vw;
}

@media (min-width: 1200px) {
  nav ul li a {
    font-size: 1.1em;
  }
}

nav ul li:hover {
  background-color: #2f7299;
}

.expanded-header {
  height: 50%;
  -webkit-transition: height .3s ease-out;
  transition: height .3s ease-out;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media (min-width: 767px) {
  .expanded-header {
    height: 40%;
  }
}

/* Import of layout.scss */
.home-section {
  background-image: url("../images/IMG_1139.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 1200px) {
  .home-section {
    background-image: url(../images/background-home-desktop.svg);
  }
}

.desktop-img {
  display: none;
}

@media (min-width: 1200px) {
  .desktop-img {
    display: inline-block;
    width: 30vw;
    height: 40vw;
    float: left;
    margin-right: 2vw;
  }
}

.values-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 87vh;
}

@media (min-width: 767px) {
  .values-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (orientation: landscape) {
  .values-container {
    overflow-y: scroll;
  }
}

@media (min-width: 1200px) {
  .values-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 28vh;
    min-height: 300px;
    padding: 5vh 3vw 2vh 3vw;
    overflow: hidden;
  }
}

.blur {
  position: absolute;
  height: 87vh;
  width: 90vw;
  min-width: 90vw;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid 3px #839595;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  z-index: 1;
}

@media (min-width: 767px) {
  .blur {
    right: 5%;
  }
}

@media (min-width: 1200px) {
  .blur {
    display: none;
  }
}

.previous-arrow,
.next-arrow {
  position: absolute;
  font-size: 4em;
  color: #17384B;
  z-index: 2;
  top: 15vw;
}

@media (min-width: 767px) {
  .previous-arrow,
  .next-arrow {
    display: none;
  }
}

.previous-arrow {
  left: 22%;
}

.next-arrow {
  right: 18%;
}

.values-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10% 4% 3% 2%;
  height: 87vh;
  font-size: 0.8em;
  min-width: 95vw;
  z-index: 2;
}

@media (min-width: 767px) {
  .values-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 1% 10%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 1200px) {
  .values-card {
    padding: 0 2%;
    width: 33%;
    min-width: 175px;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    font-size: 0.6em;
  }
}

.values-card img {
  border-radius: 50%;
  max-width: 175px;
  max-height: 175px;
  width: 30vw;
  height: 30vw;
  background-color: grey;
}

@media (min-width: 767px) {
  .values-card img {
    margin-top: 3%;
  }
}

@media (min-width: 1200px) {
  .values-card img {
    margin: 0;
    width: 13vw;
    height: 13vw;
  }
}

.values-card h4 {
  text-align: center;
  margin-top: 5%;
}

.text-wrapper {
  width: 90%;
}

@media (min-width: 767px) {
  .text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    padding: 0 3%;
  }
  .text-wrapper h4 {
    margin-left: 0;
  }
}

@media (min-width: 767px) and (min-width: 1200px) {
  .text-wrapper h4 {
    margin: 2vh 0 0 0;
  }
}

@media (min-width: 1200px) {
  .text-wrapper {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 1200px) {
  .text-wrapper p {
    display: none;
  }
}

.desktop-description {
  display: none;
}

@media (min-width: 1200px) {
  .desktop-description {
    display: block;
    height: 20vh;
    padding: 0 7% 0 47%;
    margin-bottom: 8vh;
  }
}

.desktop-quote {
  display: none;
  padding: 0 15%;
  font-style: italic;
}

@media (min-width: 1200px) {
  .desktop-quote {
    display: block;
  }
}

.desktop-quote span {
  font-style: normal;
}

.about-section {
  background-image: url("../images/orange_triangle_background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 1200px) {
  .about-section {
    background-image: none;
    background-color: #E48200;
  }
}

.about-section img {
  width: 10vw;
  height: 10vw;
}

.about-section h4 {
  font-size: 1.3em;
  text-align: center;
}

@media (min-width: 767px) {
  .about-section h4 {
    font-size: 2em;
  }
}

.category-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 2vh;
}

.skill-category {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
  margin: 0 2vw;
}

.skill-category:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.skill-category img {
  border-radius: 50%;
  background-color: #839595;
  width: 20vw;
  height: 20vw;
  max-width: 200px;
  max-height: 200px;
}

.skill-category h4 {
  font-size: 1em;
}

.category-description {
  width: 95%;
  margin: 2% auto;
}

@media (min-width: 1200px) {
  .category-description {
    width: 70%;
    font-size: 1.2em;
  }
}

.skills-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills-list,
.skills-list2,
.skills-list3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 2vh 5vw;
}

@media (min-width: 767px) {
  .skills-list,
  .skills-list2,
  .skills-list3 {
    margin: 10vh 10vw;
  }
}

@media (min-width: 1200px) {
  .skills-list,
  .skills-list2,
  .skills-list3 {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    margin: 2% 2%;
  }
}

.skills-list li,
.skills-list2 li,
.skills-list3 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1vh;
}

@media (min-width: 1200px) {
  .skills-list li,
  .skills-list2 li,
  .skills-list3 li {
    margin-bottom: 1vh;
  }
}

.skills-list li p,
.skills-list2 li p,
.skills-list3 li p {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  margin-right: 10px;
}

@media (min-width: 767px) {
  .skills-list li p,
  .skills-list2 li p,
  .skills-list3 li p {
    font-size: 1.2em;
    font-weight: 600;
  }
}

.skills-list li span,
.skills-list2 li span,
.skills-list3 li span {
  background-color: #839595;
  width: 50vw;
  padding: 1vh 3vw;
  color: #FDFFFB;
  border-radius: 20px;
}

@media (min-width: 1200px) {
  .skills-list li span,
  .skills-list2 li span,
  .skills-list3 li span {
    width: 18vw;
  }
}

.skills-list2,
.skills-list3 {
  display: none;
}

@media (min-width: 1200px) {
  .skills-list2,
  .skills-list3 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.portfolio-section {
  max-width: 1500px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .portfolio-section {
    background-image: url("../images/blue_triangle_background.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: 0% 100%;
  }
}

.portfolio-section h3 {
  text-align: center;
  font-weight: 100;
}

@media (min-width: 767px) {
  .portfolio-section h3 {
    font-size: 2em;
    float: left;
    margin: 0px 10px 10px 20px;
  }
}

.language-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 10px 20px;
}

.language-list li {
  border-bottom: solid 4px transparent;
}

.language-list li:hover {
  bottom: 4px;
  border-bottom: solid 4px #E48200;
}

.language-list li img {
  height: 7vw;
  width: 7vw;
  max-height: 60px;
  max-width: 60px;
  min-height: 40px;
}

@media (min-width: 767px) {
  .book-cover {
    position: relative;
    background-color: #17384B;
    width: 92vw;
    height: 70vh;
    margin-top: 2vh;
    padding: 3px 15px 2px 4px;
    border: solid 2px black;
    -webkit-box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 1200px) {
  .book-cover {
    width: 100%;
    padding: 0px 15px 0px 15px;
  }
}

@media (min-width: 767px) {
  .book-container {
    position: relative;
    background-color: #607782;
    height: 101%;
    border: solid 1px black;
    padding: 2px 0;
  }
}

@media (min-width: 1200px) {
  .book-container {
    width: 100%;
    height: 100.5%;
    padding: 0px 10px 0px 10px;
  }
}

.portfolio-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: dashed 2px black;
  padding-top: 2vh;
}

@media (min-width: 767px) {
  .portfolio-wrapper {
    border: solid 1px black;
    width: 97%;
    background-color: #839595;
    height: 101%;
    padding: 3vh 10vw;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    color: #FDFFFB;
  }
}

@media (min-width: 1200px) {
  .portfolio-wrapper {
    width: 100%;
    padding: 3%;
  }
}

.portfolio-wrapper h4 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-size: 1.5em;
  text-align: center;
}

@media (min-width: 767px) {
  .portfolio-wrapper h4 {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 5px 0;
    font-size: 1.8em;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    color: #17384B;
    text-decoration: underline;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .portfolio-wrapper h4 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    text-align: center;
  }
}

.portfolio-wrapper span {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  font-size: 2em;
  text-align: center;
}

@media (min-width: 767px) {
  .portfolio-wrapper span {
    display: none;
  }
}

.portfolio-wrapper ul {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2vh 30vw;
}

@media (min-width: 767px) {
  .portfolio-wrapper ul {
    display: none;
  }
}

.portfolio-wrapper ul li {
  background-color: #17384B;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.project-img-container {
  -ms-flex-preferred-size: 79%;
      flex-basis: 79%;
  background-color: #E48200;
  height: 25vh;
  padding: 10px;
}

@media (min-width: 767px) {
  .project-img-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 1200px) {
  .project-img-container {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin-left: 7%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.project-img-container img {
  border-radius: 0;
  margin: 0;
  width: 100%;
}

@media (min-width: 767px) {
  .project-info-container {
    position: relative;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (min-width: 1200px) {
  .project-info-container {
    -ms-flex-preferred-size: 46%;
        flex-basis: 46%;
    bottom: 30%;
    height: 90%;
  }
}

.project-info-container p {
  margin: 1vh 0;
}

@media (min-width: 767px) {
  .project-info-container p {
    font-size: 1em;
  }
}

.project-info-container p span {
  display: inline;
  font-size: 1.3em;
  margin-right: 30px;
}

.project-info-container a {
  background-color: #17384B;
  color: #FDFFFB;
  width: 50%;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 15px;
  margin: 10px auto;
  font-size: 0.7em;
}

@media (min-width: 767px) {
  .project-info-container a {
    position: absolute;
    padding: 0;
    margin: 0;
    background: none;
    font-size: 0.8em;
    bottom: 105%;
    left: 30%;
    width: 40%;
    margin-top: 5px;
  }
}

@media (min-width: 1200px) {
  .project-info-container a {
    left: 150%;
    top: 40%;
  }
}

.project-info-container a:nth-of-type(2) {
  margin-left: 9%;
}

@media (min-width: 767px) {
  .project-info-container a:nth-of-type(2) {
    left: 55%;
  }
}

@media (min-width: 1200px) {
  .project-info-container a:nth-of-type(2) {
    left: 140%;
    top: 60%;
  }
}

.languages-description {
  display: none;
}

@media (min-width: 767px) {
  .languages-description {
    display: block;
  }
}

.binding {
  display: none;
}

@media (min-width: 767px) {
  .binding {
    display: block;
    position: absolute;
    width: 5%;
    height: 100%;
    z-index: 5;
    top: 1.5%;
    left: -3%;
  }
}

@media (min-width: 1200px) {
  .binding {
    height: 101.3%;
    top: 0.1%;
    left: 48%;
    background-color: #839595;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
  }
}

@media (min-width: 767px) {
  .page-flag {
    position: absolute;
    left: 97%;
    width: 0;
    height: 0;
    border-top: solid 10px #FDFFFB;
    border-right: solid 10px transparent;
    border-bottom: solid 10px #FDFFFB;
    border-left: solid 24px #FDFFFB;
  }
}

@media (min-width: 767px) and (min-width: 1200px) {
  .page-flag {
    left: 99%;
  }
}

@media (min-width: 767px) {
  .page-flag:nth-of-type(1) {
    top: 10%;
    left: 92%;
    border-top: solid 10px #E48200;
    border-right: solid 10px transparent;
    border-bottom: solid 10px #E48200;
    border-left: solid 60px #E48200;
    z-index: 2;
  }
}

@media (min-width: 767px) and (min-width: 1200px) {
  .page-flag:nth-of-type(1) {
    left: 97%;
    border-left: solid 45px #E48200;
  }
}

@media (min-width: 767px) {
  .page-flag:nth-of-type(2) {
    top: 20%;
  }
  .page-flag:nth-of-type(3) {
    top: 30%;
  }
  .page-flag:nth-of-type(4) {
    top: 40%;
  }
}

.resume-section {
  background-image: url("../images/blue_triangle_background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 767px) {
  .resume-section {
    background-size: 130%;
    background-position: 0% 100%;
  }
}

@media (min-width: 1200px) {
  .resume-section {
    background-size: 155%;
  }
}

.resume-section h3 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.timeline-container {
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  height: 80%;
  border-radius: 20px;
  background: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, transparent), to(#E48200));
  background: linear-gradient(to right, transparent 15%, #E48200 100%);
}

.timeline-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 30%;
}

.timeline-container .year-button-prev,
.timeline-container .year-button-next {
  background-color: blue;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.yearlist-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10% 2% 10% 2%;
  font-style: italic;
  z-index: 1;
  border-right: solid 1px black;
}

.yearlist-container li {
  margin: 20% 0;
}

.resume-container {
  height: 100%;
  width: 70%;
  color: #FDFFFB;
}

.resume-container .description-container {
  height: 100%;
  padding: 15% 2% 10% 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-section {
  background-image: url("../images/blue_trapazoid_background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 767px) {
  .contact-section {
    background-image: url(../images/blue_trapazoid_background.svg), url(../images/IMG_1986.jpg);
  }
}

.contact-section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 80vh;
  padding: 8vw;
}

@media (min-width: 767px) {
  .contact-section ul {
    padding-left: 0;
  }
}

@media (min-width: 1200px) {
  .contact-section ul {
    width: 50%;
    height: 60vh;
  }
}

.contact-section ul li {
  color: #FDFFFB;
  font-size: 1.7em;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 767px) {
  .contact-section ul li {
    text-align: left;
    font-size: 2em;
  }
}

@media (min-width: 1200px) {
  .contact-section ul li {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.contact-section ul li p {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (min-width: 767px) {
  .contact-section ul li p {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

@media (min-width: 1200px) {
  .contact-section ul li p {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}

.contact-section ul li svg {
  width: 10vw;
  height: 10vw;
  max-width: 70px;
  max-height: 70px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (min-width: 767px) {
  .contact-section ul li svg {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

.contact-section ul li svg path:nth-of-type(1) {
  fill: #E48200;
}

footer {
  scroll-snap-align: end;
  background-color: #839595;
  color: #FDFFFB;
  text-align: center;
  height: 50px;
  padding-top: 10px;
}
/*# sourceMappingURL=styles.css.map */