/* Import of _mixins.scss */

//==========================================================
//      Media Query Mixin
//==========================================================

@mixin mq($breakpoint) {
    @if $breakpoint == tablet {
        @media (min-width: $break-tablet) { 
            @content;
        }
    }
    @else if $breakpoint == desktop {
        @media (min-width: $break-desktop) {
            @content;
        }
    }
    @else if $breakpoint == landscape {
        @media (orientation: landscape) {
            @content;
        }
    }
}

//==========================================================
//      Flexbox Mixin
//==========================================================

@mixin flex($display:flex, $direction:row, $wrap: wrap, $justify:center, $align:center) {
    display: $display;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
    @content;
}

//==========================================================
//      Background Mixin
//==========================================================

@mixin background($imgpath, $size, $position:0 0, $repeat:no-repeat) {
    background-image: url($imgpath);
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
    @content;
}