/* Import of _variables.scss */


//==========================================================
//      Color Variables
//==========================================================

// Descriptive Color Palatte Variables
$orange         : #E48200;
$navy-blue      : #17384B;
$black          : #102126;
$grey           : #839595;
$white          : #FDFFFB; 

// Functional Color Palatte Variables

$color-primary      : $navy-blue;
$color-secondary    : $grey;
$color-accent       : $orange;
$color-font--base   : $black;
$color-font--alt    : $white;

//==========================================================
//      Font Stacks Variables
//==========================================================

// Font Stack Variables

$font-url--google     : "https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap";
$font-stack--primary  : 'Didact Gothic', sans-serif;

//==========================================================
//      Breakpoint Variables
//==========================================================

// Breakpoints

$break-tablet    : 767px;
$break-desktop   : 1200px;
$break-wide      : 1450px;

