/* Import of layout.scss */

//==========================================================
//      Home Section
//==========================================================

.home-section {
    @include background('../images/home_background.JPG', cover, center, no-repeat);
    position: relative;
    @include mq(desktop) {
        background-image: url(../images/background-home-desktop.svg);
    }
}   

.desktop-img {
    display: none;
    @include mq(desktop) {
        display: inline-block;
        max-height: 100%;
        width: 30vw;
        height: 40vw;
        float: left;
        border-radius: 20px;
    }
}

.values-container {
    @include flex(flex, row, nowrap, flex-start, center);
    position: relative;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    height: 87vh;
    @include mq(tablet) {
        flex-direction: column;
        justify-content: space-around;
        overflow-x: hidden;
    }

    @include mq(landscape) {
        overflow-y: scroll;
    }

    @include mq(desktop) {
        @include flex(flex, row, nowrap, space-evenly, flex-start);
        height: 20%;
        min-height: 250px;
        padding: 2vh 3vw 2vh 3vw;
        overflow: hidden;
    }
}

.blur {
    position: absolute;
    height: 87vh;
    width: 90vw;
    min-width: 90vw;
    background-color:rgba(255, 255, 255, 0.5);
    border: solid 3px $color-secondary;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    z-index: 1;
    @include mq(tablet) {
        right: 5%;
    }
    @include mq(desktop) {
        display: none;
    }

}

.previous-arrow,
.next-arrow {
    position: absolute;
    font-size: 4em;
    color: $color-primary;
    z-index: 2;
    top: 85%;

    @include mq(tablet) {
        display: none
    }
}

.previous-arrow {
    left: 12%;
}

.next-arrow {
    right: 13%;
}

.values-card {
    @include flex(flex, column, nowrap, flex-start, center);
    scroll-snap-align: start;
    padding: 10% 4% 3% 2%;
    height: 80%;
    font-size: 1em;
    min-width: 95vw;
    z-index: 2;
    @include mq(tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1% 10%;
        align-items: flex-start;
        height: auto;
    }
    @include mq(desktop) {
        padding: 0 2%;
        width: 33%;
        min-width: 175px;
        height: 100%;
        justify-content: center;
        align-content: flex-start;
        font-size: 0.6em;
    }

    & img {
        border: solid 3px $color-secondary;
        border-radius: 50%;
        max-width: 175px;
        max-height: 175px;
        width: 30vw;
        height: 30vw;
        background-color: grey;
        @include mq(tablet) {
            margin-top: 3%;
        }
        @include mq(desktop) {
            margin: 0;
            width: 100%;
        }
    }

    & h4 {
        text-align: center;
        line-height: 28px;
        margin-top: 5%;
    }
}

.text-wrapper {
    width: 90%;
    @include mq(tablet) {
        @include flex(flex, column, nowrap, center, center);
        flex-basis: 70%;
        padding: 0 3%;

        & h4 {
            margin-left: 0;
            @include mq(desktop) {
                margin: 1vh 0 0 0;
            }
        }
    }

    @include mq(desktop) {
        flex-basis: 100%;
    }
    
    & p {
        @include mq(desktop) {
            display: none;
        }
    }
}

.desktop-description {
    display: none;
    @include mq(desktop) {
        display: block;
        height: auto;
        padding: 0 10% 0 45%;
        margin-bottom: 8vh;
    }
    & br {
        margin-bottom: 1vh;
    }
}

.desktop-quote {
    display: none;
    padding: 0 20% 0 20%;
    font-style: italic;
    text-align: center;
    @include mq(desktop) {
        display: block;
    }
    @include mq(wide) {
        padding-left: 45%;
        padding-right: 10%;
    }
    & span {
           font-style: normal;
    } 
}



//==========================================================
//      About Section
//==========================================================


.about-section {
    @include background('../images/orange_triangle_background.svg', cover, center, no-repeat);
    @include mq(desktop) {
        background-image: none;
        background-color: $color-accent;
    }
    &  img {
        width: 10vw;
        height: 10vw;
    }

    & h4 {
        font-size: 1.3em;
        text-align: center;
        @include mq(tablet) {
            font-size: 2em;
        }
    }
}

.category-menu {
    @include flex(flex, row, nowrap, space-between, flex-start);
    margin-top: 2vh;
    @include mq(tablet) {
        margin-top: 0;
    }  
}

.skill-category {
    @include flex(inline-flex, column, nowrap, space-around, center);
    width: 33%;
    margin: 0 1%;
    transition: transform 0.2s ease-out;
    @include mq(desktop) {
        display: inline-block;
    }
    & img {
        border-radius: 50%;
        background-color: $color-secondary;
        border: solid 3px $color-secondary;
        width: 20vw;
        height: 20vw;
        max-width: 200px;
        max-height: 200px;
        @include mq(desktop) {
            width: 8vw;
            height: 8vw;
            margin-right: 1vw;
            float: left;
        }
    }
    & h4 {
        font-size: 0.9em;
        margin: 5% 0;
        @include mq(tablet) {
            font-size: 1.2em;
        }
        @include mq(desktop) {
            flex-basis: 70%;
            color: $color-primary;
            font-size: 1.4em;
        }
    }
    & p {
        display: none;
        @include mq(desktop) {
            display: block;
        }
    }



}

.category-description {
    width: 95%;
    margin: 2% auto;
    font-size: 0.8em;
    height: 23vh;
    overflow: scroll;
    @include mq(tablet) {
        width: 82%;
        font-size: 1.1em;
    }
    @include mq(desktop) {
        display: none;
    }
}

.skills-list-wrapper {
    @include mq(desktop) {
        @include flex(flex, row, nowrap, center, center);
        max-width: 95%;
        margin: 2vh auto;
    }
}

.skills-list,
.skills-list2,
.skills-list3 {
    @include flex(inline-flex, row, wrap, flex-start, flex-start);
    margin: 2vh;
    @include mq(tablet) {
        margin: 3vh 10vw;
    }
    @include mq(desktop) {
        width: 33%;
        margin: 1% 1%;
    }

    & li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1vh;
        width: 100%;
        @include mq(desktop) {
            margin-bottom: 1vh;
        }
        & p {
            width: 10%;
            margin-right: 10px;
            font-size: 0.9em;
            @include mq(tablet) {
                font-size: 1.1em;
                font-weight: 600;
            }

        }
        & span {
            background-color: $color-secondary;
            width: 15vw;
            margin-left: 20vw;
            padding: 1vh 3vw;
            color: $color-font--alt;
            border-radius: 20px;
            transition: width 0.5s ease-in;
            @include mq(desktop) {
                width: 18vw;
                padding: 2% 3%;
                margin-left: 29%;
            }
        }
    }
}

.skills-list2,
.skills-list3 {
    display: none;
    transition: width 0.5s ease-in;
    @include mq(desktop) {
        @include flex(inline-flex, row, wrap, flex-start, flex-start);
        border-left: dashed 1px $color-primary;
        padding-left: 1%;
        margin-left: 0;
    }
}

//==========================================================
//     Portfolio Section
//==========================================================


.portfolio-section {
    margin: 0 auto;
    @include mq(desktop) {
        @include background('../images/blue_triangle_background.svg', cover, center, no-repeat);
        background-size: 46%;
        background-position: 0% 100%;
    }
    & h3 {
        text-align: center;
        font-weight: 100;
        @include mq(tablet) {
            font-size: 2em;
            float: left;
            margin: 2vh 10px 10px 20px;
        }
    }
    hr {
        border-bottom: dashed 2px $color-primary;
        margin-top: 2vh;
    }
}

.language-list {
    @include flex(flex, row, nowrap, space-around, center);
    margin: 1vh 0px 10px 0px;
    @include mq(tablet) {
        margin-top: 2vh;
    }
    & li {
        margin: 0 2px;
        border-bottom: solid 4px transparent;
        cursor: pointer;
    }
    
    & li:hover {
        bottom: 4px;
        border-bottom: solid 4px $color-accent;
    }
    & li img {
        height: 4vw;
        width: 4vw;
        max-height: 60px;
        max-width: 60px;
        min-height: 40px;
    }
    & .selected {
        border-bottom: solid 4px $color-accent;
    }
}

.book-cover {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    @include mq(tablet){
        position: relative;
        background-color: $color-primary;
        width: 92vw;
        height: 70vh;
        margin-top: 3vh;
        padding: 3px 15px 2px 4px;
        border: solid 2px black;
        -webkit-box-shadow: 5px 5px 15px -3px rgba(0,0,0,0.5); 
        box-shadow: 5px 5px 15px -3px rgba(0,0,0,0.5);
    }
    @include mq(desktop) {
        width: 100%;
        padding: 0px 15px 0px 15px;
    }
}

.book-container {
    @include mq(tablet){
        position: relative;
        background-color: #607782;
        height: 101%;
        border: solid 1px black;
        padding: 2px 0;
    }
    @include mq(desktop) {
        width: 100%;
        height: 100.5%;
        padding: 0px 10px 0px 10px;
    }

}

.portfolio-wrapper {
    @include flex(flex, row, wrap, center, center);
    border-top: dashed 2px black;
    padding-top: 1vh;
    @include mq(tablet) {
        border: solid 1px black;
        width: 97%;
        background-color: $color-secondary;
        height: 101%;
        padding: 2vh 10vw;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        color: $color-font--alt;
    }
    @include mq(desktop) {
        width: 100%;
        padding: 3%;
/*         //PageFlipLeft Animation
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: left center;
        transform-origin: left center;
        -webkit-animation: pageFlipLeft 1.65s linear;
        animation: pageFlipLeft 1.65s linear; */
    }

    & h4 {
        flex-basis: 100%;
        font-size: 1.5em;
        text-align: center;
        @include mq(tablet) {
            flex-basis: 60%;
            align-self: flex-start;
            margin: 5px 0;
            font-size: 1.8em;
            order: 2;
            color: $color-primary;
            text-decoration: underline;
            text-align: left;
        }
        @include mq(desktop) {
            order: 1;
            flex-basis: 46%;
            text-align: center;
        }
    }

    & span {
        flex-basis: 10%;
        font-size: 2em;
        text-align: center;
        cursor: pointer;
        @include mq(tablet) {
            display: none;
        }
    }

    & ul {
        flex-basis: 100%;
        display: flex;
        justify-content: space-around;
        margin: 2vh 20vw 1vh 20vw;
        @include mq(tablet) {
            display: none;
        }
        & li {
            background-color: $color-primary;
            border-radius: 50%;
            width:  10px;
            height: 10px;
            &.active {
                background-color: $color-secondary;
            }
        }
    }
}

.project-img-container {
        flex-basis: 79%;
        max-width: 60vh;
        background-color: $color-accent;
        border: solid 5px $color-primary;
        height: 25vh;
        padding: 10px;
        @include mq(tablet) {
            order: 1;
            flex-basis: 100%;
            margin: 0 auto;
        }
        @include mq(desktop) {
            flex-basis: 45%;
            margin-left: 9%;
            order: 2;
        }
        & img {
            border: solid 2px $color-secondary;
            border-radius: 0;
            margin: 0;
            width: 100%;
        }
}

.project-info-container {
    @include mq(tablet) {
        position: relative;
        order: 3;
    }
    @include mq(desktop) {
        flex-basis: 46%;
        bottom: 30%;
        height: 90%;
    }

    & p {
        margin: 0 0 1vh 0;
        font-size: 0.8em;
        @include mq(tablet) {
            font-size: 0.9em;
            padding-left: 10vw;
        }
        @include mq(desktop) {
            font-size: 1.08em;
            padding-left: 6vw;
        }
    }

    & span {
        display: inline;
        float: left;
        font-size: 1.3em;
        width: 10vw;
        min-width: 70px;
        text-align: left;
        @include mq(desktop) {
            width: 6vw;
        }
    }

    & a {
        display: inline-block;
        background-color: $color-primary;
        color: $white;
        width: 30vw;
        text-transform: uppercase;
        text-align: center;
        padding: 5px 15px;
        margin: 10px 0 0 10%;
        font-size: 0.7em;
        text-decoration: underline;
        cursor: pointer;
        @include mq(tablet) {
            position: absolute;
            padding: 0;
            margin: 0;
            background: none;
            font-size: 0.8em;
            bottom: 103%;
            left: 49%;
            width: 40%;
            margin-top: 5px;
        }
        @include mq(desktop) {
            font-size: 2em;
            text-transform: capitalize;
            left: 163%;
            top: 40%;
        }
        &:nth-of-type(2) {
            margin-left: 10%;
            @include mq(tablet) {
                left: 62%;
            }
            @include mq(desktop) {
                left: 155%;
                top: 60%;
            }
            & svg {
                right: 70%;
                fill: $color-primary;
                @include mq(desktop) {
                    right: 95%;
                }
            }
        }
        & svg {
            display: none;
            width: 25px;
            height: 25px;
            @include mq(tablet) {
                display: inline-block;
                position: absolute;
                right: 70%;
                top: -5px;
            }
            @include mq(desktop) {
                width: 50px;
                height: 50px;
                right: 90%;
            }
            & path {
                fill: $color-primary;
            }

        }
    }
}

#project-description {
    padding: 0;
    margin: 1% 0 2% 0;
}

.languages-description {
    display: none;
    @include mq(tablet) {
        display: block;
    }
}



.binding {
    display: none;
    @include mq(tablet) {
        display: block;
        position: absolute;
        width: 5%;
        height: 100%;
        z-index: 5;
        top: 1.5%;
        left: -3%;
    }
    @include mq(desktop) {
        height: 101.3%;
        top: 0.1%;
        left: 48%;
        background-color: $color-secondary;
        border-top: solid 1px black;
        border-bottom: solid 1px black;
    }
}

.page-flag {
    @include mq(tablet) {
        position: absolute;
        left: 97%;
        width: 0;
        height: 0;
        border-top: solid 10px $color-font--alt;
        border-right: solid 10px transparent;
        border-bottom: solid 10px $color-font--alt;
        border-left: solid 24px $color-font--alt;
        cursor: pointer;
        @include mq(desktop) {
            left: 99%;
        }

        &.active {
            z-index: 2;
            left: 92%;
            border-top: solid 10px $color-accent;
            border-right: solid 10px transparent;
            border-bottom: solid 10px $color-accent;
            border-left: solid 60px $color-accent;
            @include mq(desktop) {
                left: 97.5%;
                border-left: solid 45px $color-accent;
            }
        }

        &:nth-of-type(1) {
            top: 10%;
        }
        &:nth-of-type(2) {
            top: 15%;
        }
        &:nth-of-type(3) {
            top: 20%;
        }
        &:nth-of-type(4) {
            top: 25%;
        }
        &:nth-of-type(5) {
            top: 30%;
        }
        &:nth-of-type(6) {
            top: 35%;
        }
        &:nth-of-type(7) {
            top: 40%;
        }
        &:nth-of-type(8) {
            top: 45%;
        }
    }
}

/* Page turn */
@-webkit-keyframes pageFlipLeft {
  0% {
    -webkit-transform: rotateY(0deg) translateZ(1px);
            transform: rotateY(0deg) translateZ(1px);
    background: #FFF;
  }
  20%, 50% {
    background: #F1F2E1;
  }
  50% {
    background: #D7D9C3;
  }
  80% {
    -webkit-transform: rotateY( -180deg);
            transform: rotateY( -180deg);
    background: #F1F2E1;
  }
  100% {
    -webkit-transform: rotateY( -180deg);
            transform: rotateY( -180deg);
    background: #fff;
  }
}
@keyframes pageFlipLeft {
  0% {
    -webkit-transform: rotateY(0deg) translateZ(1px);
            transform: rotateY(0deg) translateZ(1px);
    background: #FFF;
  }
  20%, 50% {
    background: #F1F2E1;
  }
  50% {
    background: #D7D9C3;
  }
  80% {
    -webkit-transform: rotateY( -180deg);
            transform: rotateY( -180deg);
    background: #F1F2E1;
  }
  100% {
    -webkit-transform: rotateY( -180deg);
            transform: rotateY( -180deg);
    background: #fff;
  }
}

//==========================================================
//      Resume Section
//==========================================================


.resume-section {
    @include background('../images/blue_triangle_background.svg', cover, center, no-repeat);
    @include mq(tablet) {
        background-size: 130%;
        background-position: 0% 100%;
    }
    @include mq(desktop) {
        background-size: 159%;
    }
}

.timeline-container {
    margin-top: 3%;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 97%;
    border-radius: 20px;
    background: #FFFFFF;
    z-index: -1;
    background: -moz-linear-gradient(left, transparent 15%, #E48200 85%);
    background: -webkit-linear-gradient(left, transparent 15%, #E48200 85%);
    background: linear-gradient(to right, transparent 15%, #E48200 85%);
    @include mq(desktop) {
        margin-left: 15%;
        width: 85%;
    }
}

.yearlist-container {
    @include flex(flex, column, nowrap, flex-start, center);
    height: 100%;
    width: 30%;
    padding: 5% 2% 60% 2%;
    font-style: italic;
    color: $color-primary;
    z-index: 1;
    border-right: solid 1px $color-secondary;
    & li {
        margin: 15% 0;
        font-size: 0.9em;
        cursor: pointer;
        @include mq(tablet) {
            font-size: 1.1em;
            margin: 1vh 0;
            padding-left: 5vw;
        }
        @include mq(desktop) {
            font-size: 1.2em;
            margin: 7% 0;
            padding-left: 15%;
        }
        @include mq(wide) {
            margin: 3% 0;
        }
        &.active {
            text-decoration: underline;
        }
    }
}

.resume-container {
    height: 100%;
    width: 70%;
}

.description-container {
    @include flex(flex, column, nowrap, flex-start, flex-start);
    height: 100%;
    width: 100%;
    padding: 10% 5% 20% 5%;
    line-height: 1em;
    overflow-y: scroll;
    & h4 {
        font-size: 1.4em;
        color: $color-font--alt;
        margin-bottom: 2vh;
        @include mq(tablet) {
            margin-bottom: 5vh;
            font-size: 2.2em;
        }
        @include mq(desktop) {
            font-size: 2.5em;
        }
    }
    & p {
        font-size: 0.8em;
        line-height: 16px;
        color: $color-primary;
        @include mq(tablet) {
            font-size: 1.2em;
            line-height: 20px;
        }
        @include mq(desktop) {
            line-height: 24px;
            font-size: 1.4em;
        }
        & br {
            margin-bottom: 1vh;
            @include mq(tablet) {
                margin-bottom: 3vh;
            }

        }
        
    }
}

//==========================================================
//      Contact Section
//==========================================================


.contact-section {
    @include background('../images/blue_trapazoid_background.svg', cover, center, no-repeat);
    @include mq(tablet) {
        background-image: url(../images/blue_trapazoid_background.svg), url(../images/contact_background.JPG);
    }
    
    & ul {
        @include flex(flex, row, wrap, flex-start, center);
        height: 80vh;
        padding: 6vw;
        @include mq(tablet) {
            padding-left: 0;
        }
        @include mq(desktop) {
            width: 50%;
            height: 60vh;
        }

        & li {
            @include flex(flex, row, nowrap, space-between, center);
            flex-basis: 90%;
            color: $color-font--alt;
            font-size: 1.7em;
            @include mq(tablet) {
                justify-content: flex-start;
                text-align: left;
                font-size: 2em;
            }
            @include mq(desktop) {
                flex-basis: 45%;
            }

            & p {
                flex-basis: 50%;
                @include mq(tablet) {
                    flex-basis: 25%;
                }
                @include mq(desktop) {
                    flex-basis: 60%;
                    margin-left: 10px;
                }
                
            }


            & svg {
                width: 10vw;
                height: 10vw;
                max-width: 70px;
                max-height: 70px;
                margin: 0 1vw;
                flex-basis: 50%;
                @include mq(tablet) {
                    flex-basis: 20%;
                }

                & path:nth-of-type(1) {
                    fill: $color-accent;
                }
                
            }
        }
    }


}

//==========================================================
//      Footer
//==========================================================


footer {
    scroll-snap-align: end;
    background-color: $color-secondary;
    color: $color-font--alt;
    text-align: center;
    height: 50px;
    padding-top: 1.5vh;
}
