/* Import of layout.scss */

//==========================================================
//      Home Section
//==========================================================

.home-section {
    @include background('../images/IMG_1139.JPG', cover, center, no-repeat);
}

.values-container {
    @include flex(flex, row, nowrap, flex-start);
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    scroll-snap-type: x mandatory;

    @include mq(tablet) {
        flex-direction: column;
    }

    @include mq(landscape) {
        overflow-y: scroll;
    }
}

.blur {
    position: absolute;
    height: calc(100vh - 5% - 50px);
    min-width: 300%;
    background-color:rgba(255, 255, 255, 0.5);
    border: solid 3px $color-secondary;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    z-index: 1;
    @include mq(tablet) {
        min-width: 100%;
    }
}

.previous-arrow,
.next-arrow {
    position: absolute;
    font-size: 4em;
    color: $color-primary;
    z-index: 2;
    top: 15vw;

    @include mq(tablet) {
        display: none
    }
}

.previous-arrow {
    left: 15%;
}

.next-arrow {
    right: 15%;
}

.values-card {
    @include flex(inline-flex, column, nowrap, flex-start, center);
    position: relative;
    scroll-snap-align: start;
    padding: 10% 3%;
    height: calc(100vh - 5% - 50px);
    font-size: 0.8em;
    min-width: 100%;
    z-index: 2;

    & img {
        border-radius: 50%;
        max-width: 200px;
        max-height: 200px;
        width: 30vw;
        height: 30vw;
        background-color: grey;
    }

    & h4 {
        text-align: center;
        margin-top: 5%;
    }



    @include mq(tablet) {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 3%;
    }
}

.text-wrapper {
    width: 90%;
    @include mq(tablet) {
            @include flex(flex, column, nowrap, center, center);
            flex-basis: 65%;
            padding: 0 3%;

            & h4 {
                margin-left: 0;
            }
        }
            

}


//==========================================================
//      About Section
//==========================================================


.about-section {
    @include background('../images/orange_triangle_background.svg', cover, center, no-repeat);
    
    &  img {
        width: 10vw;
        height: 10vw;
    }

    & h4 {
        font-size: 1.3em;
        text-align: center;
        @include mq(tablet) {
            font-size: 2em;
        }
    }
}

.category-menu {
    @include flex(flex, row, nowrap, space-between, flex-start);
    margin-top: 2vh;  
}

.skill-category {
    @include flex(inline-flex, column, nowrap, space-around, center);
    width: 33%;
    margin: 0 2vw;
    & img {
        border-radius: 50%;
        background-color: $color-secondary;
        width: 20vw;
        height: 20vw;
    }
    & h4 {
        font-size: 1em;
    }
}

.category-description {
    width: 95%;
    margin: 0 auto;
}

.skills-list {
    @include flex(flex, column, nowrap, space-around, space-between);
    margin: 2vh 5vw;

    & li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2vh;
        & p {
            flex-basis: 33%;
            margin-right: 10px;
            @include mq(tablet) {
            font-size: 1.2em;
            font-weight: 600;
            }
        }
        & span {
            background-color: $color-secondary;
            width: 50vw;
            padding: 1vw 3vw;
            color: $color-font--alt;
            border-radius: 20px;
        }
    }

    @include mq(tablet) {
        margin: 10vh 10vw;
    }
}

//==========================================================
//     Portfolio Section
//==========================================================


.portfolio-section {
    & h3 {
        text-align: center;
        font-weight: 100;
        @include mq(tablet) {
            font-size: 2em;
            float: left;
            margin: 25px 10px 10px 20px;
        }
    }
    & ul {
        @include flex(flex, row, nowrap, space-between, center);
        margin-top: 20px;
        margin-bottom: 10px;
        & li {
            border-bottom: solid 4px transparent;
        }
        
        & li:hover {
            bottom: 4px;
            border-bottom: solid 4px $color-accent;
        }
        & li img {
            height: 7vw;
            width: 7vw;
            min-height: 40px;
        }

    }

}

.portfolio-wrapper {
    @include flex(flex, row, wrap, center, center);
    border-top: dashed 2px black;
    padding-top: 2vh;
    @include mq(tablet) {
        border: solid 1px black;
        width: 97%;
        background-color: $color-secondary;
        height: 101%;
        padding: 3vh 10vw;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        color: $color-font--alt;
    }

    & h4 {
        flex-basis: 100%;
        font-size: 1.5em;
        text-align: center;
        @include mq(tablet) {
            flex-basis: 40%;
            align-self: flex-start;
            margin: 5px 0;
            font-size: 1.8em;
            order: 2;
            color: $color-primary;
            text-decoration: underline;
            text-align: left;
        }
    }

    & span {
        flex-basis: 10%;
        font-size: 2em;
        text-align: center;
        @include mq(tablet) {
            display: none;
        }
    }

    & ul {
        flex-basis: 100%;
        display: flex;
        justify-content: space-around;
        margin: 2vh 30vw;
        @include mq(tablet) {
            display: none;
        }
        & li {
            background-color: $color-primary;
            border-radius: 50%;
            width:  10px;
            height: 10px;
        }
    }
}

.project-img-container {
        flex-basis: 79%;
        background-color: $color-accent;
        height: 25vh;
        padding: 10px;
        @include mq(tablet) {
            order: 1;
            flex-basis: 100%;
        }
        & img {
            border-radius: 0;
            margin: 0;
            width: 100%;
        }
}

.project-info-container {
    
    @include mq(tablet) {
        position: relative;
        order: 3;
        
    }

    & p {
        @include mq(tablet) {
            font-size: 1em;
            margin: 20px 0;
        }

        & span {
            display: inline;
            font-size: 1.3em;
            margin-right: 30px;
        }
    }

    & a {
        background-color: $color-primary;
        color: $white;
        width: 45%;
        text-transform: uppercase;
        text-align: center;
        padding: 5px 20px;
        margin: 10px auto;
        font-size: 0.7em;
        @include mq(tablet) {
            position: absolute;
            padding: 0 ;
            margin: 0;
            background: none;
            font-size: 0.8em;
            bottom: 105%;
            left: 30%;
            width: 40%;
            margin-top: 5px;
        }
        &:nth-of-type(2) {
            @include mq(tablet) {
                left: 60%;
            }
        }
    }
}

.languages-description {
    display: none;
    @include mq(tablet) {
        display: block;
    }
}

.book-cover {
    @include mq(tablet){
        background-color: $color-primary;
        width: 90vw;
        height: 70vh;
        margin-top: 2vh;
        padding: 3px 15px 2px 4px;
        margin-left: 20px;
        border: solid 2px black;
        -webkit-box-shadow: 5px 5px 15px -3px rgba(0,0,0,0.5); 
        box-shadow: 5px 5px 15px -3px rgba(0,0,0,0.5);
    }

}

.book-container {
    @include mq(tablet){
        position: relative;
        background-color: #607782;
        height: 101%;
        border: solid 1px black;
        padding: 2px 0;
    }
}


.page-flag {
    @include mq(tablet) {
        position: absolute;
        left: 97%;
        width: 0;
        height: 0;
        border-top: solid 10px $color-font--alt;
        border-right: solid 10px transparent;
        border-bottom: solid 10px $color-font--alt;
        border-left: solid 24px $color-font--alt;

        &:nth-of-type(1) {
            top: 10%;
            left: 92%;
            border-top: solid 10px $color-accent;
            border-right: solid 10px transparent;
            border-bottom: solid 10px $color-accent;
            border-left: solid 60px $color-accent;
            z-index: 2;
        }

        &:nth-of-type(2) {
            top: 20%;
        }

        &:nth-of-type(3) {
            top: 30%;
        }

        &:nth-of-type(4) {
            top: 40%;
        }
    }
}



//==========================================================
//      Resume Section
//==========================================================


.resume-section {
    @include background('../images/blue_triangle_background.svg', cover, center, no-repeat);
    & h3 {
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 20px;
    }
}

.timeline-container {
    margin-top: 3%;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 80%;
    border-radius: 20px;
    background: #FFFFFF;
    background: -moz-linear-gradient(left, transparent 15%, #E48200 100%);
    background: -webkit-linear-gradient(left, transparent 15%, #E48200 100%);
    background: linear-gradient(to right, transparent 15%, #E48200 100%);

    & ul {
        @include flex(flex, column, nowrap, space-around, center);
        height: 100%;
        width: 30%;
    }


    & .year-button-prev,
    .year-button-next {
        background-color: blue;
        flex-basis: 20%;
    }

}

.yearlist-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 10% 2% 10% 2%;
    font-style: italic;
    z-index: 1;
    border-right: solid 1px black;
    & li {
        margin: 20% 0;
    }
}

.resume-container {
    height: 100%;
    width: 70%;
    color: $color-font--alt;
    & .description-container {
        height: 100%;
        padding: 15% 2% 10% 2%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
}

//==========================================================
//      Contact Section
//==========================================================


.contact-section {
    @include background('../images/blue_trapazoid_background.svg', cover, center, no-repeat);
    @include mq(tablet) {
        background-image: url(../images/blue_trapazoid_background.svg), url(../images/IMG_1986.jpg);
    }
    
    & ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 80vh;
    padding: 8vw;
    @include mq(tablet) {
        padding-left: 0;
    }

        & li {
            color: $color-font--alt;
            font-size: 1.7em;
            flex-basis: 100%;
            display: flex;
            align-items: center;
            @include mq(tablet) {
                text-align: left;
                font-size: 2em;
            }

            & p {
                flex-basis: 50%;
                @include mq(tablet) {
                    flex-basis: 20%;
                }
            }

            & svg {
                width: 10vw;
                height: 10vw;
                flex-basis: 50%;
                @include mq(tablet) {
                    flex-basis: 20%;
                }

                & path:nth-of-type(1) {
                    fill: $color-accent;
                }
                
            }
        }
    }


}

//==========================================================
//      Footer
//==========================================================


footer {
    scroll-snap-align: end;
    background-color: $color-secondary;
    color: $color-font--alt;
    text-align: center;
    height: 50px;
    padding-top: 10px;
}
