
/* Import of _typography.scss */

//==========================================================
//      Loading Font-face
//==========================================================

@if variable-exists(font-url--google) {
    @import url($font-url--google);
}

//==========================================================
//      Typography Styles
//==========================================================

header{
    & h1 {
        font-size: 1.5em;
        font-style: italic;
        text-shadow: 7px 7px 7px rgba(0,0,0,0.55);
    }
    & nav {
        text-shadow: 7px 7px 7px rgba(0,0,0,0.55);
    }
}

.home-section p {
    font-size: 1.2em;
}

h4 {
    font-size: 2em;
    margin: 10px auto 30px auto;
}

.title {
    color: $color-primary;
    font-size: 1.5em;
    text-align: center;
    margin-top: 50px;
}