
/* Import of _typography.scss */

//==========================================================
//      Loading Font-face
//==========================================================

@if variable-exists(font-url--google) {
    @import url($font-url--google);
}

//==========================================================
//      Typography Styles
//==========================================================

header{
    & h1 {
        font-size: 1.5em;
        font-style: italic;
        text-shadow: 7px 7px 7px rgba(0,0,0,0.55);
    }
    & nav {
        text-shadow: 7px 7px 7px rgba(0,0,0,0.55);
    }
}

h4 {
    font-size: 2em;
    margin: 5px auto 10px auto;
}

.title {
    color: $color-primary;
    font-size: 1.5em;
    text-align: center;
    margin-top: 50px;
}

.section-title {
    display: none;
    @include mq(desktop) {
        display: block;
        position: relative;
        top: 100%;
        left: 60%;
        font-size: 7em;
        color: $color-primary;
        z-index: 5;
        text-align: right;
        width: 450px;
        font-weight: 200;
    }
}