
/* Import of _base.scss */


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    font-family: $font-stack--primary
}

body {
    min-width: 320px;
    height: calc(100vh * 5 + 50px);
    overflow: hidden;
}

main {
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;

}
section {
    height: 100vh;
    display: block;
    scroll-snap-align: start;
    padding: calc(3% + 50px) 5% 5% 5%;
    @include mq(desktop) {
        padding-bottom: 10%;
    }
}

.landing {
    display: none;
}

h1 {
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


